
    <div class="modal-header py-1 pr-1" >
      <div class="col d-flex justify-content-start">
        Confirmacion
      </div>
    </div>

    <div class="modal-body py-5 text-center" >
      <span class="d-block pb-2">
        Estas seguro de eliminar este registro?
        ID: {{idDelete}}
      </span>


      <button class="btn btn-sm btn-secondary" (click)="closeModal()">Cancelar</button>
      <button class="btn btn-sm btn-primary mr-1" (click)="eliminar(idDelete)" >Aceptar</button>
    </div>

    <div class="modal-footer py-2" >
      <div class="d-flex justify-content-end">
        <small class="text-muted">elmondoles@gmail.com @2020</small>
      </div>
    </div>

