<div class="modal fade" id="modal-delete" data-backdrop="static"
      data-keyboard="false" tabindex="-1" role="dialog"
      aria-labelledby="staticBackdropLabel" aria-hidden="true" style="z-index: 2000;">

      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header py-1 pr-1" >
            <div class="col d-flex justify-content-start">
              Confirmacion
            </div>
          </div>
          <div class="modal-body py-5 text-center" >
            <span class="d-block pb-2">
              Estas seguro de eliminar este registro?
              ID: {{idDelete}}
            </span>

            <button class="btn btn-sm btn-primary mr-1">Aceptar</button>
            <button class="btn btn-sm btn-secondary"
                    data-dismiss="modal">Cancelar</button>
          </div>

        </div>
      </div>
</div>
