ngb-accordion ::ng-deep .card {

  ::ng-deep .card-header {
    border-radius: 0;
    background-color: rgba(82, 151, 255, 0.534);
    padding-top:  2px;
    padding-bottom: 2px;
  }
  ::ng-deep [role=tabpanel] {

    .card-body {
      padding: 2px 0;
      background-color: rgba(207, 207, 207, 0.233);
    }
  }
}

.texto-card {
  word-break: break-all;
}

.header-accordion {
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 21px;
  padding-right: 21px;
  border-radius: 0;
  background-color: rgba(82, 151, 255, 0.534);

  a { text-decoration: none; }
}

// ====== Estilos de la paginacion ngx pagination
.custom-pagination ::ng-deep .ngx-pagination .current {
  background-color: #7952b3af;
  color: #ffffff;
}

.custom-pagination ::ng-deep .ngx-pagination {
    padding-left: 0;
    color: #555555;
}
