<div class="modal fade" tabindex="-1" role="dialog" id="modal-novedades" #modalnovedades
    style="z-index: 2000;">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <span class="modal-title">Reportar Novedad</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">  <!-- Cuerpo del modal -->

        <div class="container-fluid"> <!-- Contnedor ppal del contenido del modal -->
          <form [formGroup]="objFormNov" (ngSubmit)="onSubmit()" novalidate>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-md-4" >
              <div class="col px-0" >
                <input type="checkbox" name="motor" id="motor"
                      formControlName="motor">
                <label class="form-check-label ml-2" for="motor">Motor</label>
              </div>
              <div class="col px-0" >
                <input type="checkbox" name="llanta" id="llanta"
                      formControlName="llanta">
                <label class="form-check-label ml-2" for="llanta">Llanta</label>
              </div>
              <div class="col px-0" >
                <input type="checkbox" name="acpm" id="acpm"
                      formControlName="acpm">
                <label class="form-check-label ml-2" for="acpm">ACPM</label>
              </div>
            </div>

            <div class="row">
              <div class="col-12 px-0 pt-3">
                <label for="descripcion">Descripcion</label>
                <textarea class="form-control" name="descripcion" id="descripcion"
                          cols="30" rows="3"
                          formControlName="descripcion"
                          placeholder="Ingrese descripcion" required></textarea>
              </div>
            </div>

            <div class="row" >
              <div class="col-12 px-0 pt-3 d-flex justify-content-end align-items-center">
                <input type="hidden" formControlName="idCaso" name="idCaso" id="idCaso" readonly required>
                <span *ngIf="toggleMsg" class="ml-1 mr-auto text-success">
                  El registro fue creado. ID: {{ insertedId }}
                </span>
                <button type="button" class="btn btn-sm btn-secondary mr-1"
                        data-dismiss="modal" #btncancel>Cancelar</button>
                <button type="submit" class="btn btn-sm btn-primary mr-1" [disabled]="!objFormNov.valid" >Guardar</button>
              </div>
            </div>
          </form>

          <!-- Acordion o toggle -->
          <div class="row" >
            <div class="col-12 px-0">
              <div class="table-responsive">
                <table class="table table-borderless" >
                  <thead class="shadow-box">
                    <tr>
                      <th>Mis reportes (Caso N°: {{idCasoNov}}) </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of datos | paginate: { itemsPerPage: 2, currentPage: pagina }" >  <!-- iterador de coleccion JSON -->
                      <td class="pt-0 pb-3 px-1">
                        <div class="card shadow-box">
                          <div class="card-body py-0 px-0" >

                            <div class="px-2 py-1 d-flex bg-section-check text-primary">
                              <small class="d-none mr-1" [ngClass]="{'d-block': item.llanta === 1}" >(LLanta)</small>
                              <small class="d-none mr-1" [ngClass]="{'d-block': item.motor === 1}">(Motor)</small>
                              <small class="d-none " [ngClass]="{'d-block': item.acpm === 1}">(ACPM)</small>
                            </div>

                            <div class="px-2 py-1 bg-section-description" >
                              <span class="text-justify p-0 m-0" >
                                {{ item.descripcion }}
                              </span>
                            </div>

                            <div class="footer-card-btn border-top" >

                              <div class="row p-0 m-0">
                                <div class="col-12 col-sm-6 pl-1">
                                  <div class="px-2" >
                                    <span class="text-muted" >
                                      Registrado el: {{ item.created_at | date: 'dd-MM-yyyy HH:mm:ss' }}
                                    </span>
                                  </div>
                                </div>
                                <div class="col-12 col-sm-6 pl-1">
                                  <div class="d-flex justify-content-start justify-content-sm-end px-2">
                                    <a class="mr-2" href="javascript:void(0)">Modificar</a>
                                    <a href="javascript:void(0)">Eliminar</a>
                                  </div>
                                </div>
                              </div>

                            </div>

                          </div>
                        </div>

                        <!-- Al devolver forbbiden eliminar el local storage y redireccionar al login -->
                      </td>
                    </tr>

                    <!-- <tr> Implementar ngTemplate
                      <!-- <td *ngIf="false" class="pt-0 pb-1 px-1" > --
                      <td class="pt-0 pb-1 px-1" >
                        Length: {{ datos.length }}

                        <div *ngIf="datos.length === 0 else noDatos"></div>
                        <ng-template #noDatos>
                            <div class="text-muted" >Sin novedad</div>
                        </ng-template>
                      </td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-12 px-0 text-center">
              <pagination-controls class="custom-pagination"
                  (pageChange)="pagina = $event"
                  maxSize="3"
                  autoHide="true"
                  responsive="true"
                  previousLabel="Ant."
                  nextLabel="Sig."
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page"
                  screenReaderCurrentLabel="You're on page"></pagination-controls>
            </div>
          </div>
        </div>  <!-- # Container fluid-->

      </div>  <!-- #Cuerpo del modal -->

    </div>  <!-- #Content modal -->
  </div>
</div>
