<div class="container-fluid alto-viewport bg-light-gray" >

  <div class="row">
    <!-- Sidebar ppal izquierdo -->
    <div class="col-md-3 col-xl-2 bd-sidebar" >
      <div class="d-flex d-md-none py-2 justify-content-end" >
        <button class="btn btn-sm btn-primary"
                type="button"
                data-toggle="collapse" data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
          toggle
        </button>
      </div>
      <nav id="collapseExample" class="collapse bd-links bg-light-gray" >
        <div>
          <a class="bd-toc-link" href="#"
              data-toggle="modal" data-target="#modalAdd"
              (click)="addReg()">Nuevo caso</a>

        </div>
        <div>
          <a class="bd-toc-link" href="#"
              data-toggle="collapse" data-target="#sub-menu-nov">Reportar</a>
          <ul id="sub-menu-nov" class="collapse bd-sidenav">
            <li><a href="#" data-toggle="modal" data-target="#modal-novedades">Novedades</a></li>
            <li><a href="#" data-toggle="modal" data-target="#modal-llegada">Llegada(lista en muelle)</a></li>
          </ul>
        </div>

        <div>
          <a class="bd-toc-link" href="#"
              data-toggle="collapse" data-target="#sub-menu" >Facturas</a>
          <ul id="sub-menu" class="collapse bd-sidenav">
            <li><a href="">Local</a></li>
            <li><a href="">Nacional</a></li>
            <li><a href="">Internacional</a></li>
          </ul>
        </div>
        <div>
          <a class="bd-toc-link" href="#"
          data-toggle="collapse" data-target="#sub-menu-inv">Inventario</a>
          <ul id="sub-menu-inv" class="collapse bd-sidenav">
            <li><a href="">Repuestos</a></li>
            <li><a href="">Estibas</a></li>
            <li><a href="">Botellas</a></li>
            <li><a href="">Tapas</a></li>
            <li><a href="">Otros</a></li>
          </ul>
        </div>
        <div>
          <a class="bd-toc-link" href="#"
          data-toggle="collapse" data-target="#sub-menu-ev">Eventos</a>
          <ul id="sub-menu-ev" class="collapse bd-sidenav">
            <li><a href="">Proximos</a></li>
            <li><a href="">Culminados</a></li>
          </ul>
        </div>

      </nav>
    </div>

    <!-- Sidenav derecho -->
    <nav class="d-none d-xl-block col-xl-2 bd-toc" >
      <ul class="section-nav" >
        <li class="toc-entry" >
          <a href="#quick-start">Inicio rapido</a>
          <ul>
            <li><a href="#css">CSS</a></li>
            <li><a href="#js">JS</a></li>
          </ul>
        </li>
        <li class="toc-entry"><a href="#plantillas">plantillas</a></li>
        <li class="toc-entry">
          <a href="#globales">Globales</a>
          <ul>
            <li><a href="#html">HTML</a></li>
            <li><a href="#responsive">Responsive</a></li>
            <li><a href="#box-bizing">Box Sizing</a></li>
            <li><a href="#reboot">Reboot</a></li>
          </ul>
        </li>
        <li class="toc-entry"><a href="#comunidad">comunidad</a></li>
        <li class="toc-entry">
          <a href="#globales">Globales</a>
          <ul>
            <li><a href="#html">HTML</a></li>
            <li><a href="#responsive">Responsive</a></li>
            <li><a href="#box-bizing">Box Sizing</a></li>
            <li><a href="#reboot">Reboot</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Grilla -->
    <main class="col-md-9 col-xl-8 py-md-3 pl-md-2 bd-content" >
        <router-outlet></router-outlet>
    </main>
  </div>  <!-- #row -->

</div>  <!-- #Container -->

<!-- Modal add registro -->
<app-modal-add [numRandom]="numAleatorio"></app-modal-add>

<!-- Modal reporte llegada -->
<app-modal-llegada></app-modal-llegada>

<!-- Modal novedades -->
<app-novedades></app-novedades>

