*, ::after,
::before {
  box-sizing: border-box;
}
/* Estilos globales e importaciones de otros archivos de estilo */
$grey: #a0a0a0;

.btn { border-radius: 0; }
.modal-content {
  border-radius: 0;
  border: 0;
  background-color: rgba(255, 255, 255, 0.842);
}
.shadow-box { box-shadow: 0px 9px 5px -8px #d8d8d8; }
