*, ::after,
::before {
  box-sizing: border-box;
}
/* Estilos globales e importaciones de otros archivos de estilo */
$grey: #a0a0a0;
/*
ul {
  display: block;
  list-style: none;
  margin: 0;
  padding-inline-start: 40px;
  margin-bottom: 1rem;
  margin-top: 0;
}

a { text-decoration: none; }
*/
